[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "ruffsack"
version = "0.1.0"
description = "Ruffsack: A rugged multisig wallet for everyday adventures"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "eth-ape>=0.8.41",
    "eip712>=0.2.14", # NOTE: Pin because an important fix is needed
    "createx>=0.1.1",
]

[dependency-groups]
test = [
    "ape-foundry>=0.8.10",
    "ape-solidity>=0.8.5",
    "ape-vyper>=0.8.9",
]
dev = [
    {include-group = "test"},
]

[[project.authors]]
name = "ApeWorX LTD"

[project.scripts]
ruffsack = "ruffsack.__main__:cli"

[tool.setuptools]
packages = ["ruffsack"]
[tool.setuptools.package-data]
ruffsack = ["manifests/*.json"]

[tool.setuptools_scm]
# NOTE: Required for `setuptools-scm` to function

[[tool.ape.plugins]]
name = "foundry"
[[tool.ape.plugins]]
name = "solidity"
[[tool.ape.plugins]]
name = "vyper"

# Factory
[[tool.ape.deployments.ethereum.sepolia]]#.deterministic]]
address = "0x806625Fba26e57B2723e5DD194e573ca1EBcD903"
contract_type = "RuffsackFactory"

# Singleton
# NOTE: Update latest Singleton when contract code changes
# v1 (Latest)
[[tool.ape.deployments.ethereum.local]]#.deterministic]]
address = "0x82090520b492f1C08603499B8c3aE22eCCcC5fc5"
contract_type = "Ruffsack"
