name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  style:
    name: Enforce Styleguide
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/ruff-action@v3
      - run: ruff format --check --diff

  compilation:
    name: Compile Contracts
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: ApeWorX/github-action@v3
      - run: ape compile --size

  functional:
    name: Functional Tests
    runs-on: ubuntu-latest
    needs: compilation

    steps:
      - uses: actions/checkout@v5
      - uses: ApeWorX/github-action@v3
      - run: pip install .
      - run: ape test -s --gas tests/functional
