name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  style:
    name: Enforce Styleguide
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/ruff-action@v3
      - run: ruff format --check --diff

  compilation:
    name: Compile Contracts
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: ApeWorX/github-action@v3
      - run: ape compile --size
      - uses: actions/upload-artifact@v6
        with:
          name: build
          path: .build/__local__.json

  functional:
    name: Functional Tests
    runs-on: ubuntu-latest
    needs: compilation

    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v7
        with:
          name: build
      - uses: ApeWorX/github-action@v3
      - run: pip install .
      - run: ape test -s --gas tests/functional

  integration:
    name: Integration Tests
    runs-on: ubuntu-latest
    needs: compilation

    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v7
        with:
          name: build
      - uses: ApeWorX/github-action@v3
      - run: pip install .
      - uses: foundry-rs/foundry-toolchain@v1
      - run: ape test -s --gas tests/integration
